.body {
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    }
.title {
    font-weight: bolder;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #F87;

    }
    
.subtitle h7 {
    font-weight: 600;
    interline: 1.7;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #F87;
    text-align: center;
    margin-left: 5px;
    }
    
.p {
    font-weight: bold;
    text-align: center;
    }